@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 30px;
  font-family: "DM sans";
}

.logo {
  height: 50px;
  margin-left: 30px;
}

.media {
  text-align: center;
  position: relative;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  align-items: flex-start;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-size: 10px;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 30px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_section article .localisation {
  color: #901c1c;
}

.photograph-header h2 {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
  color: #d3573c;
}

.photograph-header .localisation {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901c1c;
}

.sort-select-wrapper {
  margin-bottom: 20px;
}

.photograph-header .citation {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #525252;
}

.sort-select-wrapper label {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #000000;
  font-family: "DM Sans";
  font-style: normal;
  margin-right: 12px;
}

select {
  background-color: #901c1c;
  width: 170px;
  color: #ffffff;
  height: 39px;
  font-weight: 700;
  font-family: "DM Sans";
  border-radius: 5px;
  font-size: 18px;
  font-style: normal;
}

.fa,
.fas {
  color: #911c1c;
}
